<div class="class">
    <h2>Two way data binding</h2>
    <form>
        <div>
            <input 
                type="text" [(ngModel)]="name"
                name="name"
                placeholder="Type your name"
            />
            <input type="submit" value="Submit" />
        </div>
        <div>
            <input type="text" [(ngModel)]="age"
                name="age"
                placeholder="Insert your age"
            />
            <input type="submit" value="Submit" />
        </div>
    </form>
    <div *ngIf="name != ''" >
        <p>The name is {{ name }}</p>
    </div>
    <div *ngIf="age > 0" >
        <p>The age is {{ age }}</p>
    </div>
</div>